@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
	font-family: 'Montserrat', sans-serif;
}

#header #contact {
	color: #b2b2b2;
	background-color: #454545;
	height: 40px;
	padding-top: 10px;
}

#header #menu .nav li a {
	text-transform: uppercase;
}

#featured {
	
}

#featured .featured-title {
	padding: 15px 0;
}

#featured .featured-title h2 {
	background: #ededed;
	color: #454545;
	text-transform: uppercase;
	display: inline;
	padding: 5px 10px;
}

#featured .featured-wrapper {
	height: 380px;
	background-color: #000;
	padding-top: 115px;
}

#featured .featured-text {
	font-size: 20px;
	color: #ededed;
}

#featured .featured-link a {
	color: #ededed;
	border: 1px solid #ededed;
	padding: 5px 10px;
	margin-top: 10px;
}

.icon {
	font-size: 1.4em;
	line-height: 1em;
}

#welcome .welcome-message h3 {
	text-transform: uppercase;
	color: #454545;
	font-style: italic;
	font-weight: 700;
}

#welcome .welcome-message span {
	color: #606060;
}

#welcome .welcome-message .view-more {
	color: #fdfdfd;
	text-transform: uppercase;
	background: #454545;
	padding: 10px 25px;
}

/* Bootstrap */
.navbar {
	margin-bottom: 0;
}

.navbar, .navbar.navbar-default {
	background-color: #eaeaea;
}

.navbar .navbar-nav > li > a {
	color: #0a0a0a;
}

.navbar .navbar-nav>.active>a, .navbar .navbar-nav>.active>a:focus, .navbar .navbar-nav>.active>a:hover {
	color: #8f8e8e;
	text-transform: uppercase;
}