@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
/*
	Styles for bootstrap
 */
.navbar {
  margin-bottom: 0; }

.navbar, .navbar.navbar-default {
  background-color: #eaeaea; }

.navbar .navbar-nav > li > a {
  color: #0a0a0a; }

.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:focus, .navbar .navbar-nav > .active > a:hover {
  color: #8f8e8e;
  text-transform: uppercase; }

.panel-group .panel {
  margin-bottom: 20px; }

.business {
  margin-top: -20px; }
  .business .business-header {
    padding: 45px 20px;
    background-color: #4caf50;
    color: #fff;
    text-align: center; }
  .business .business-title {
    font-size: 35px;
    text-transform: uppercase;
    margin: 0;
    font-weight: 700; }
  .business .business-filter {
    margin-top: 20px;
    background-color: #131313;
    color: #fff;
    font-weight: 700;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 10px;
    text-transform: uppercase; }
  .business .business-content {
    margin-top: 20px;
    position: relative;
    overflow: hidden; }
  .business .business-list {
    height: 200px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px; }
  .business .business-list-content {
    position: absolute;
    top: 0;
    left: 20px;
    width: 92%; }
  .business .business-list-title h3 {
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    color: #fff; }
  .business .business-list-description {
    margin-top: 45px;
    padding: 0 5px; }
    .business .business-list-description p {
      text-transform: uppercase;
      color: #454545; }
  .business .business-list-button a {
    text-decoration: none;
    color: #454545;
    padding: 10px 15px;
    display: inline-block;
    border: 1px solid #454545; }

.content {
  padding: 20px 0; }

.courses {
  margin-top: -20px; }
  .courses .courses-header {
    padding: 45px 20px;
    background-color: #6735da;
    color: #fff;
    text-align: center; }
  .courses .courses-title {
    font-size: 35px;
    text-transform: uppercase;
    margin: 0;
    font-weight: 700; }
  .courses .course-filter {
    margin-top: 20px;
    background-color: #131313;
    color: #fff;
    font-weight: 700;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 10px;
    text-transform: uppercase; }
  .courses .courses-content {
    margin-top: 20px;
    position: relative;
    overflow: hidden; }
  .courses .course {
    height: 200px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px; }
  .courses .course-content {
    position: absolute;
    top: 0;
    left: 20px;
    width: 92%; }
  .courses .course-title h3 {
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    color: #fff; }
  .courses .course-description {
    margin-top: 45px;
    padding: 0 5px; }
    .courses .course-description p {
      text-transform: uppercase;
      color: #454545; }
  .courses .course-button a {
    text-decoration: none;
    color: #454545;
    padding: 10px 15px;
    display: inline-block;
    border: 1px solid #454545; }

.offers {
  margin-top: -20px; }
  .offers .offers-header {
    padding: 45px 20px;
    background-color: #0066ad;
    color: #fff;
    text-align: center; }
  .offers .offers-title {
    font-size: 35px;
    text-transform: uppercase;
    margin: 0;
    font-weight: 700; }
  .offers .course-filter {
    margin-top: 20px;
    background-color: #131313;
    color: #fff;
    font-weight: 700;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 10px;
    text-transform: uppercase; }
  .offers .offers-content {
    margin-top: 20px;
    position: relative;
    overflow: hidden; }
  .offers .course {
    height: 200px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px; }
  .offers .course-content {
    position: absolute;
    top: 0;
    left: 20px;
    width: 92%; }
  .offers .course-title h3 {
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    color: #fff; }
  .offers .course-description {
    margin-top: 45px;
    padding: 0 5px; }
    .offers .course-description p {
      text-transform: uppercase;
      color: #454545; }
  .offers .course-button a {
    text-decoration: none;
    color: #454545;
    padding: 10px 15px;
    display: inline-block;
    border: 1px solid #454545; }

.featured {
  height: 380px;
  overflow: hidden; }
  .featured .row {
    position: relative; }
  .featured__title {
    padding: 15px 0; }
  .featured__title h2 {
    font-size: 24px;
    background: #ededed;
    color: #454545;
    text-transform: uppercase;
    display: inline;
    padding: 5px 10px; }
  .featured__wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 115px; }
  .featured__text {
    font-size: 20px;
    color: #ededed; }
  .featured__link a {
    color: #ededed;
    border: 1px solid #ededed;
    padding: 5px 10px;
    margin-top: 10px;
    text-decoration: none; }

#footer {
  margin: 20px 0; }
  #footer .container .row:first-child {
    padding: 20px 0;
    background: #eaeaea;
    margin-bottom: 20px; }
  #footer .footer-logo img {
    width: 85px; }
  #footer .footer-menu a {
    display: inline-block;
    width: 100%;
    color: #000; }
  #footer .footer-menu p {
    margin: 0; }
  #footer .footer-social a {
    font-size: 2em;
    color: #000;
    margin-left: 15px; }
  #footer .footer-copyright {
    display: block;
    width: 100%;
    clear: both; }

#header .header-contact {
  color: #b2b2b2;
  background-color: #454545;
  height: 40px;
  padding-top: 10px; }
  #header .header-contact .header-social {
    margin-top: -10px; }
    #header .header-contact .header-social a {
      color: #8f8f8f;
      font-size: 2em;
      margin-right: 15px; }

#header .header-logo {
  width: 72px; }

#header #header-menu ul.nav {
  margin-top: 15px; }

.row.new .new-image {
  position: relative;
  top: 0;
  left: 0;
  height: 350px;
  width: auto; }

.row.new .new-title {
  position: relative;
  left: 10px;
  bottom: 60px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 3px 5px #000;
  margin: 0;
  font-size: 32px; }

.news .title {
  margin-bottom: 10px; }
  .news .title h2 {
    color: #989898;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700; }
    @media (min-width: 992px) {
      .news .title h2:before, .news .title h2:after {
        content: "";
        position: absolute;
        height: 5px;
        border-top: 1px solid #979797;
        top: 30px;
        left: -380px;
        width: 100%; }
      .news .title h2:after {
        left: 380px; } }

.news .new {
  height: 200px;
  overflow: hidden;
  position: relative; }

.news .new-content {
  position: absolute;
  top: 0;
  left: 15px;
  width: 92%; }

.news .new-title h3 {
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #fff; }

.news .new-description {
  margin-top: 35px;
  padding: 0 5px; }
  .news .new-description p {
    text-transform: uppercase;
    color: #454545; }

.news .new-button a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  display: inline-block; }

.news .eventos .new-title h3 {
  background: #82d8bf; }

.news .eventos .new-button a {
  background: #82d8bf; }

.news .ofertas-laborales .new-title h3 {
  background: #4789e2; }

.news .ofertas-laborales .new-button a {
  background: #4789e2; }

.news .cursos .new-title h3 {
  background: #6735da; }

.news .cursos .new-button a {
  background: #6735da; }

.news.news-institutionals .new-content {
  top: 100px;
  left: 25px;
  width: 85%; }

.news.news-institutionals .new-title h3 {
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 3px 5px #000;
  font-size: 18px;
  padding-bottom: 0; }

.news.news-institutionals .new-description {
  color: #fff;
  font-size: 12px;
  margin-top: 0;
  padding: 0; }
  .news.news-institutionals .new-description p {
    text-transform: none;
    color: #fff; }

.welcome {
  padding-top: 20px; }
  .welcome__image {
    text-align: right; }
    .welcome__image img {
      height: 150px;
      width: 193px; }
  .welcome__message h3 {
    margin-top: 0;
    text-transform: uppercase;
    color: #454545;
    font-style: italic;
    font-weight: 700; }
  .welcome__message span {
    color: #606060; }
  .welcome__view-more {
    color: #fdfdfd;
    text-transform: uppercase;
    background: #454545;
    padding: 10px 25px;
    display: inline-block; }
    .welcome__view-more:hover {
      text-decoration: none; }

.h1, .h2, .h3, .h4, body, h1, h2, h3, h4, h5, h6, p {
  font-family: 'Montserrat', sans-serif; }

body {
  background-color: #fff; }

.title-section {
  margin-bottom: 10px;
  text-align: center;
  position: relative; }
  .title-section h2 {
    color: #989898;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700; }
    .title-section h2:before, .title-section h2:after {
      content: "";
      position: absolute;
      height: 5px;
      border-top: 1px solid #979797;
      top: 10px;
      left: -0;
      width: 35%; }
    .title-section h2:after {
      left: 65%; }

/*# sourceMappingURL=app.css.map */
