#footer {
	margin: 20px 0;
	.container .row:first-child {
		padding: 20px 0;
		background: #eaeaea;
		margin-bottom: 20px;
	}
	.footer-menu {
		a {
			display: inline-block;
			width: 100%;
			color: #000;
		}
		p {
			margin: 0;
		}
	}
	.footer-social {
		a {
			font-size: 2em;
			color: #000;
			margin-left: 15px;
		}
	}
	.footer-copyright {
		display: block;
		width: 100%;
		clear: both;
	}
}