#header {
	.header-contact {
		color: #b2b2b2;
		background-color: #454545;
		height: 40px;
		padding-top: 10px;

		.header-social {
			margin-top: -10px;
			a {
				color: #8f8f8f;
				font-size: 2em;
				margin-right: 15px;
			}
		}
	}
	.header-logo {
		width: 72px;
	}
	#header-menu {
		ul.nav {
			margin-top: 15px;
		}
		.nav li a {
			text-transform: uppercase;
		}
	}
}