.row.new {
	.new-header {
	}
	.new-image {
		position: relative;
		top: 0;
		left: 0;
		height: 350px;
		width: auto;
	}
	.new-title {
		position: relative;
		left: 10px;
		bottom: 60px;
		text-transform: uppercase;
		color: #fff;
		text-shadow: 0 3px 5px #000;
		margin: 0;
		font-size: 32px;
	}
	.new-content {
	}
}