#welcome {
	padding-top: 20px;
	.welcome-image {
		img {
			height: 150px;
			width: 193px;
		}
		text-align: right;
	}
	.welcome-message {
		h3 {
			margin-top: 0;
			text-transform: uppercase;
			color: #454545;
			font-style: italic;
			font-weight: 700;
		}
		span {
			color: #606060;
		}
		.view-more {
			color: #fdfdfd;
			text-transform: uppercase;
			background: #454545;
			padding: 10px 25px;
			display: inline-block;
			&:hover {
				text-decoration: none;
			}
		}
	}
}